{
    "urls": [
        "https://www.ft.com/business-education?format=rss",
        "https://www.nasa.gov/rss/dyn/breaking_news.rss",
        "https://wordpress.org/news/feed/",
        "http://feeds.bbci.co.uk/news/rss.xml",
        "https://lifehacker.com/rss",
        "https://feeds.a.dj.com/rss/RSSWorldNews.xml"
    ],
    "storage": "./files"
}